body {
    background-color: teal;
    text-align: center;
}

#navbar li {
    display: inline-block;
}
h1 {
    color: white
}

#my-website{transition:2s all linear;}
#my-website:hover{font-size:50px}