#box {
    border-style: solid;
    border-color: purple;
    height: 570px;
    width: 508px;
}

.names {
    display:inline-block;
}

.names2 {
    display:inline-block;
}

.names3 {
    display:inline-block;
}

span {
    border: 3px solid thistle;
    float:left;
    width: 20px;
    height:20px;
}

h1 {
    color: White;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

body {
    background-color: teal;
}

#navbar li {
    display: inline-block;
}

#my-website{transition:2s all linear;}
#my-website:hover{font-size:50px}